@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600;700;800&family=Marck+Script&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #06032c;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar{
	display: none;
}